.header{
    background-color: $color-primario;
    color: $blanco;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-size: 22px;
    }

   .navbar-brand {
        font-size: 1.3rem;
        letter-spacing: 0.5px;
        color: #1a1a1a !important;
    }

    .nav-link {
        font-size: 0.97rem;
        font-weight: 500;
        color: #333 !important;
        transition: 0.3s ease;
    }

    .nav-link:hover {
        color: #0d6efd !important; /* celeste Bootstrap */
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        padding-top: 80px; /* por el nav fijo */
    }
}
