//Variables + mixins
@use './abstracts/variables' as *;
@use './abstracts/mixins' as *;

//Base
@use './base/reset' as *;
@use './base/global' as *;
@use './base/typography' as *;

//Layout
@use './layout/navbar' as *;
@use './layout/hero' as *;
@use './layout/sections' as *;
@use './layout/blog' as *;
@use './layout/footer' as *;

//Componentes
@use './components/cards' as *;
@use './components/buttons' as *;
@use './components/forms' as *;
@use './components/whatsapp' as *;

@use './utils/decor' as *;