//Variables + mixins
@import './abstracts/variables';
@import './abstracts/mixins';

//Base
@import './base/reset';
@import './base/global';
@import './base/typography';

//Layout
@import './layout/navbar';
@import './layout/hero';
@import './layout/sections';
@import './layout/blog';
@import './layout/footer';

//Componentes
@import './components/cards';
@import './components/buttons';
@import './components/forms';
@import './components/whatsapp';

@import './utils/decor';