@use '../abstracts/variables' as *;

section h2 {
  position: relative;
  display: inline-block;
  padding: 1rem 0;
  margin-bottom: 3rem;
  text-align: center;
}

section h2::before,
section h2::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 180px;
  height: 4px;
  background-color: $color-primario !important;
  transform: translateX(-50%);
}

section h2::before {
  top: 8px;
}

section h2::after {
  bottom: 0px;
}

.seccionDra{
  margin-bottom: 0.5rem !important;
}

.seccionDra::before, 
.seccionDra::after{
  display: none !important;
}

/* Altura del navbar (ajustable si cambiás el logo) */
:root {
  --nav-height: 110px;
}

html {
  scroll-padding-top: var(--nav-height);
}

/* Versión mobile */
@media (max-width: 768px) {
  :root {
    --nav-height: 90px;
  }
}
