@use '../abstracts/variables' as *;
.navbar{
    background-color: $color-primario !important;
}

.navbar-brand{
    display: flex;
    align-items: center;
    font-weight: 700;
    color: $light;

    img {
        height: 100px;
        width: 140px;
        margin-right: .5rem;
    }
}

.nav-link{
    color: $light;
    opacity: .9;
    transition: .3s;
    font-size: 1.2rem;
    
    &:hover{
        opacity: 1;
    }
}

@media (max-width: 576px) {
  .hero {
    background-position: center 35%;
    min-height: 60vh;
  }
}
