@use '../abstracts/variables' as *; 

.presentacion{
    text-align: center;
    background: $light;
}

.abogada{
    background: $light;

    .abogada_matricula{
        font-weight: 700;
        color: rgba(88, 95, 102, 0.6);
    }
}

.especialidades{
    background: $light;
}

#equipo{
    background: $light;
    img{
        width: 100%;
        max-width: 220px;
        height: auto;
        object-fit: cover;
        margin: 0 auto 1rem;
        display: block;
        border-radius: 14%;
        transition: transform 0.3s ease;
    }
    h5{
        margin-top: 0.3rem;
        margin-bottom: 0.5rem;
    }
    p{
        margin-top: 0;
        text-align: justify;
        max-width: 340px;
        margin-left: auto;
        margin-right: auto;
    }
}

.equipo img:hover{
    transform: scale(1.05);
}

.estudio{
    background: $light;
}

.contacto{
    background: $light;
    text-align: center;
}

@media (max-width: 768px){
    #equipo img{
        width: 70%;
        max-width: 280px;
        height: auto;
        max-height: none;
    }
}
