@use '../abstracts/variables' as *; 

.presentacion{
    text-align: center;
    background: $light;
}

.abogada{
    background: $light;

    .abogada_matricula{
        font-weight: 700;
        color: rgba(88, 95, 102, 0.6);
    }
}

.especialidades{
    background: $light;
}
.equipo{
    background: $light;
}
.estudio{
    background: $light;
}

.contacto{
    background: $light;
    text-align: center;
}
