.btn-primary{
    background-color: $color-primario;
    border-color: $color-primario;

    &:hover{
        background-color: darken($color-primario, 10%);
        border-color: darken($color-primario, 10%);
    }
}

.btn-outline-light{
    border-color: $light;
    color: $light;

    &:hover{
        background-color: $light;
        color: $color-primario;
    }
}


.btn-consultar{
    margin-top: auto;
    align-self: center;

    display: inline-block;
    padding: 0.5rem 1.2rem;
    margin-top: 1rem;

    background-color: $color-primario;
    color: $blanco;
    font-size: 0.85rem;
    font-weight: 500;
    text-decoration: none;

    border-radius: 20px;
    transition: background color 0.3s ease, transform 0.3s ease;

    &:hover{
        background-color: darken($color-primario, 8%);
        transform: translateY(-2px);
        color: $blanco;
    }
}
