.btn-wsp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #25D366;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        width: 35px;
    }
}