//Colores
$color-primario: #1e4fb2;
$color-secundario: #c5a059;
$light: #d7e3f4;
$oscuro: #1a1a1a;
$body-bg: $light;
$color-texto: $oscuro;
$blanco: #ffffff;

//Bootstrap color
$theme-colors: (
    "primario": $color-primario,
    "secundario": $color-secundario,
    "light": $light,
    "dark": $oscuro
);

//Tipografia
$fuente-cuerpo: 'Lato', sans-serif;
$fuente-heading: 'Playfair Display', serif;
